/* MAIN LAYOUT */
.login-page {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE (IMAGE) */
.left-section {
  flex: 1;
}

.left-section img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

/* RIGHT SIDE (FORM AREA) */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  background: #f8f9fa;
}

/* LOGIN BOX */
.container {
  width: 80%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

/* INPUT STYLING (optional but nice) */
 /* .inputs {
  width: 100%;

  margin-top: 5px;
  margin-bottom: 20px;
 
} */

/* BUTTON */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #0D3B66;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 6%;
}
.login-text {
  display: block;
  text-align: center;
  margin-top: 10px;
}